altgraph==0.17.3
appdirs==1.4.4
audioread==3.0.0
autopep8==2.0.2
blinker==1.6.2
bottle==0.12.25
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
decorator==5.1.1
Flask==2.3.2
Flask-Cors==3.0.10
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
lazy_loader==0.2
librosa==0.10.0.post2
llvmlite==0.40.0
MarkupSafe==2.1.2
msgpack==1.0.5
numba==0.57.0
numpy==1.24.3
packaging==23.1
pooch==1.6.0
proxy-tools==0.1.0
pycairo==1.23.0
pycodestyle==2.10.0
pycparser==2.21
PyGObject==3.44.1
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
pywebview==4.1
requests==2.30.0
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
soundfile==0.12.1
soxr==0.3.5
threadpoolctl==3.1.0
tomli==2.0.1
typing_extensions==4.5.0
urllib3==2.0.2
watchdog==3.0.0
Werkzeug==2.3.4
music-tag==0.4.3
