html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url(./assets/fonts/OpenSans.ttf) format('truetype');
}

body {
  overflow: hidden;
  user-select: none;
  font-family: 'Open Sans', sans-serif;
  @apply text-primary;
}

::-webkit-scrollbar {
  width: 0.45rem
}

::-webkit-scrollbar-track {
  display: none
}

::-webkit-scrollbar-thumb {
  @apply rounded-sm bg-border hover: bg-accent-foreground/60
}

.driver-popover {
  font-family: 'Open Sans', sans-serif;
  @apply !border !border-solid !border-accent-foreground !bg-primary-foreground !text-primary;
}

.driver-popover-arrow {
  @apply !border-8px border-l-accent-foreground;
}

.driver-popover-prev-btn,
.driver-popover-next-btn {
  @apply !text-primary-foreground !bg-primary;
}

.driver-overlay path {
  @apply dark:!fill-white/25;
}
