@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url(./assets/fonts/OpenSans.ttf) format('truetype');
}

body {
  overflow: hidden;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  @apply text-dark-gray dark:text-light-gray-2;
}

#app {
  height: 100%;
}
